<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
		<div class="content">
			<ul class="small-block-grid-3 menu-options">
				<li class="paginate" ng-include="'/assets/layouts/paginate.html'"></li>
				<li class="levels" ng-include="'/assets/layouts/levels.html'" ></li>
				<li class="related" ng-include="'/assets/layouts/related.html'"></li>
			</ul>
		</div>
	</div>
</div>