
<div class="top-row" ng-controller="usersCtrl as users" >
	<div> <!-- cell -->
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
			
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<div><div>URL:</div>
						<div><a ng-href="/users/{{users.j.vs.view.data.main.pack.login}}">/users/{{users.j.vs.view.data.main.pack.login}}</a></div>
					</div>
					<div><div>Email:</div>
						<div>{{users.showValue(users.j.vs.view.data.main.pack.email)}}</div>
					</div>
					<div><div>Phone:</div>
						<div>{{users.showValue(users.j.vs.view.data.main.pack.phone)}}</div>
					</div>
				</aside>


				<div class="content grids" id="user-info">
					<div>
						<div class="portrait"><img ng-src="{{users.j.vs.view.data.main.pack.avatar}}"/></div>
						<div class="username"><h3>{{users.j.vs.view.data.main.pack.name}}</h3></div>
					</div>
					<hr/>
					
					<div><div>Relation:</div><div>{{users.relates(users.j.vs.view.data.main.pack.extra.relates)}}</div></div>
					<div><div>Login:</div><div>@{{users.j.vs.view.data.main.pack.login}}</div></div>
					<div><div>Nick:</div>
						<div ng-if="users.j.vs.view.data.main.pack.extra.nick">#{{users.j.vs.view.data.main.pack.extra.nick}}</div>
						<div ng-if="!users.j.vs.view.data.main.pack.extra.nick"> --- </div>
					</div>


					<div><div>URL:</div>
						<div><a ng-href="/users/{{users.j.vs.view.data.main.pack.login}}">/users/{{users.j.vs.view.data.main.pack.login}}</a></div>
					</div>
					
				
					
					<hr class="underline" />
					<div><div>Post</div><div> Post Options</div></div>
				</div>

			</div>
		</div>
	<div /></div> <!-- cell end -->

	<div> <!-- top-row right side -->
		<div ng-include src="'/assets/layouts/menu.html'" ng-cloak></div>
	<div /></div> <!-- end cell -->	
</div>





<div class="main last" ng-if="!(content.j.vs.view.data.paginate && content.j.vs.view.data.paginate.pack)" ng-include="'/assets/posts/no_post.html'"  ng-cloak> </div>

<div class="main last posts" ng-if="(content.j.vs.view.data.paginate && content.j.vs.view.data.paginate.pack)" ng-controller="postsCtrl as posts">
	<div ng-repeat="post in content.j.vs.view.data.paginate.pack" ng-include="'/assets/posts/post.html'">
		
	</div>
	<span id="loading" ng-show="content.j.vs.view.data.paginate.page<content.j.vs.view.data.paginate.total" scrolling ><a>Loading more items</a></span>
</div>


