<div class="user" id="paginate_{{user.id}}">
	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap"> <div class="content">
			<a ng-href="/users/{{user.id}}">
				<div>
					<div>
						<div><img ng-src="{{user.avatar}}"/></div>
						<div><h6>@{{user.login}}</h6></div>
					</div>

					<div><div>{{user.name}}</div></div>
					<hr>
					<div>
						<div title="alias">#</div><div>{{user.extra.nick}} </div>
					</div>
					<div>
						<div title="email"><i class="fi-mail" /></div><div>{{users.showValue(user.email)}}</div>
					</div>
					<div>
						<div title="phone"><i class="fi-telephone" /></div><div>{{users.showValue(user.phone)}}</div>
					</div>
					<div>
						<div title="relates"><i class="fi-torsos-all" /></div><div>{{users.relates(user.extra.relates)}}</div>
					</div>
				</div>
			</a>

		</div> </div>
	</div>			
</div><!-- content -->

<div /><!-- background -->
