<div class="chat" ng-class="{read: chat.extra.read, unread: !chat.extra.read }"  id="paginate_{{chat.id}}">

	<a class="close" title="delete" ng-if="chats.j.vs.view.current_user.id==chat.user" ng-click="chats.deleteChat(chat.id, $event)">x</a>

	<a ng-href="/chats/{{chat.id}}">
		<div>
			<div class="chat-users">
				<ul><li ng-repeat="tag in chat.display.split(',')">{{tag}}</li></ul>
			</div>
			<div><hr class="narrow"></div>
			<div class="chat-message row">
				<div class="columns small-2">
					<img ng-src="{{chat.extra.message.avatar}}" 
						title="@{{chat.extra.message.login}}" />
				</div>
				<div  class="columns small-10">
					<div>{{chat.extra.message.content}}</div>
					<div ng-bind-html="chat.extra.message.extra"></div>
				</div>

			</div>
			
		</div>
	</a>			
</div><!-- content -->

<!---  <div class="blue-tag"></div>  tag -->
<div></div> <!-- background -->
