<!-- view.data.main = {type: 'search',  }  -->


<div class="top-row" ng-controller="chatsCtrl as chats">
	<div>
		<div><h2>Reply</h2>
			<div ng-include="'/assets/chats/message_edit.html'"></div>
		</div>
		<div></div> <!-- background-->
	</div> <!-- end cell -->


	<div>
		<div> 
			view.data: {{content.j.vs.view.data}}
			<div class="draw" details="show" title="more"><i></i></div>
		</div>

		<div class="slide">
			<div>This is #details=show#</div>
			<div class="bg"></div>
		</div> <!-- slide info -->

		<div></div> <!-- background-->
	</div> <!-- end cell -->
</div>


<!-- view.data.paginate = {type: "chat", loading, path, page, total, 
		pack: [ {id, user, display, extra: { message, read } } ] }
-->

<div class="main last" ng-if="content.paginate_empty('chats')" ng-include="'/assets/layouts/no_record.html'" ng-cloak></div>

<div class="main last" ng-if="!content.paginate_empty('chats')"  ng-cloak>
	<div ng-repeat="chat in content.j.vs.view.data.paginate.pack" ng-include="'/assets/chats/chat.html'"></div>
	<span id="loading" ng-show="content.paginate_has_more()" scrolling><a>Loading more itmes</a></span>
</div>
