<div class="top-row" ng-controller="pageCtrl as page">

	<div> <!-- cell -->
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" ></a>
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 1</a></li></ul>
					some text parts
				</aside>
				<div class="content"><h1>About</h1>
					{{content.j.vs.view}}
				</div>
			</div>
		</div>

	<div></div> </div> <!-- end cell -->


	<div>
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 1</a></li></ul>
					some text parts
				</aside>
				<div class="content">
					<ul>
						<li><a ng-href="/users">Ng-HREF /users</a></li>
						<li><a href="/home">Normal Href link</a></li>
						<li><a>Update User1 relation -> Block</a></li>

						<li><a href="/relationships/2?o=2&amp;op=0&amp;ptype=21" data-method="put" data-remote="true" rel="nofollow" class="">un-Friend - put - remote</a></li>

						<li><a href="/relationships/2?o=2&amp;op=0&amp;ptype=21" data-method="put"  rel="nofollow" class="">un-Friend - put</a></li>

						<li><a href="/relationships/2?o=2&amp;op=0&amp;ptype=21"  rel="nofollow" class="">un-Friend - index</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- off-canvas-wrap end -->
	<div /></div> <!-- cell end -->

</div> <!-- top-row end -->



<div class="main">
	<div> <!-- cell -->
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 1</a></li></ul>
					some text parts
				</aside>
				<div class="content">
					Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old 
				</div>
			</div>
		</div>
	<div /></div> <!-- cell end -->

	<div> <!-- cell 2-->
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 2</a></li></ul>
					some text parts
				</aside>
				<div class="content">
					This is cell 2 
				</div>

			</div>
		</div>
	<div /></div> <!-- cell end -->

	<div> <!-- cell 3 -->
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 3</a></li></ul>
					some text parts
				</aside>
				<div class="content">This is cell 3 </div>
			</div>
		</div>
	<div /></div> <!-- cell end -->

	<div> <!-- cell 4 -->
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 4</a></li></ul>
					some text parts
				</aside>
				<div class="content">This is cell 4 </div>
			</div>
		</div>
	<div /></div> <!-- cell end -->


	<div> <!-- cell 5 -->
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 5</a></li></ul>
					some text parts
				</aside>
				<div class="content">	This is cell5   </div>
			</div>
		</div>

	<div /></div> <!-- cell end -->


	<div> <!-- cell 6 -->
		<div class="off-canvas-wrap" data-offcanvas >
			<div class="inner-wrap"><a class="right-off-canvas-toggle" />
				<aside class="right-off-canvas-menu"><a class="exit-off-canvas" />
					<ul><li><a href="#">Item 6</a></li></ul>
					some text parts
				</aside>
				<div class="content">	<div class="red" demo >This is cell6</div>   </div>
			</div>
		</div>

	<div /></div> <!-- cell end -->



</div>

