.yellow	{ border: 1px solid yellow; }
.red	{ border: 1px solid red; }
.blue	{ border: 1px solid blue; }
.lime	{ border: 1px solid lime; }
.green	{ border: 1px solid green; }
.black	{ border: 1px solid black; }
.aqua	{ border: 1px solid aqua; }

@mixin glow-text-shadow($light-color, $dark-color) {
	text-shadow:	
		0 0 5px  $light-color,	0 0 10px $light-color, 0 0 15px $light-color, 
		0 0 20px $dark-color, 	0 0 30px $dark-color,  0 0 40px $dark-color, 
		0 0 50px $dark-color, 	0 0 75px $dark-color;
}

@mixin transparent-ratio($ratio) {
	filter:		alpha(opacity=$ratio);	opacity:	$ratio/100 ;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ratio)";
}


@mixin background-gradient($left, $lside, $rside, $right) {
	background: -webkit-linear-gradient(90deg, $left, $lside, $rside, $right), -webkit-linear-gradient(0deg, $left, $lside, $rside, $right);
	background: -o-linear-gradient(90deg, $left, $lside, $rside, $right), -o-linear-gradient(0deg, $left, $lside, $rside, $right);
	background: -moz-linear-gradient(90deg, $left, $lside, $rside, $right), -moz-linear-gradient(0deg, $left, $lside, $rside, $right);
	background: linear-gradient(90deg, $left, $lside, $rside, $right), linear-gradient(0deg, $left, $lside, $rside, $right);
}

@mixin cell-color($bgcolor, $txtcolor, $side-color, $left-ratio, $right-ratio) {
	>div {	top: 0;	 }
	>div:first-of-type {
		@include background-gradient($side-color, $left-ratio, $right-ratio, $side-color);
		width:100%;	border-radius: 0.3rem; 
		color: $txtcolor; background-size: 100% 50%, 50% 100%;
	}

	>div:last-of-type	/* background colors and images */  {
		left: 0px;	position:absolute; width:100%;
		-webkit-animation: composite 5s infinite alternate;
		z-index: -1; background: $bgcolor;
	}
}

@mixin menu-effect ($link, $hover, $shadow) {
	a, a>i 		{	color: $link !important; }
	a:hover, a:hover>i, a:active, a:active>i { color: $hover; @include glow-text-shadow($shadow, $hover)  } 
}

/* --- mixin above --- */

/* definition */
$set1-prime: 	#007fff;
$set1-light-B: 	#aad6ff;	$set1-light-N:	#aad6ff;
$set1-dark-B:	#003366;	$set1-dark-N:	#003366;

$set2-prime: 	#ffa000;
$set2-light-B: 	#ffbb00;	$set2-light-N:	#ffbb00;
$set2-dark-B:	#b27f00;	$set2-dark-N:	#b27f00;

$cell-height: 	300px;		$cell-border: 	#eee;
$footer-height:	50px;


/* menu color */
$home-color:	#f00;		$home-color-h:	#e30;
$mail-color:	#03f;		$mail-color-h: 	#00f;
$friend-color:	#3c3;  		$friend-color-h: lime;
$login-color:	#c3f;		$login-color-h:	#c0c;

/* general */
.grids>div {	
	@extend .row;
	>div:first-child	{	@extend .columns; @extend .small-3;}
	>div:last-child		{	@extend .columns; @extend .small-9;}
}

.hidden {	margin:0; padding:0; display:none; }

body {	padding-top: 45px; padding-bottom:50px; background: #eee; }

%masonry  { //@extend yellow;
 	@extend .row; 
	background: #fffaf0; color: #888; 
	padding: 0 1rem; 
	>div { //@extend red;
		@extend .columns; @extend .large-3; @extend .small-6;
		@include cell-color(#fff, #333, #ccc, transparent 50%, transparent 65% );
		position: relative; padding:0;
		border-top: 1px outset $cell-border; border-left: 1px solid $cell-border;
	}

}

.main { 
	@extend %masonry; 
	>div, >div>div{	height: $cell-height; }
}
.main:last-child>div {	border-bottom: 1px solid $cell-border;}
.main:last-of-type, .main:last-of-type>div:last-child { margin-bottom: 2rem; }


.top-row {
	@extend %masonry;
	>div {	
		@extend .large-6; @extend .small-12; 
		@include cell-color (#eff, #333, #999, transparent 65%, transparent 75% );		
	}
	>div, >div>div { height: $cell-height;}
}


div.off-canvas-wrap {
	aside, div.content{ padding: 5px 10px 0; height: $cell-height; }
	aside.right-off-canvas-menu { color: #ccc;	a {color: lime; }	}
	div.content { //@extend .blue;
		;
	}
	/* canvas icons */
	a.right-off-canvas-toggle, a.exit-off-canvas {@extend .button; @extend .round; @extend .tiny; @extend .right;
		&:hover {font-weight:bolder;}
	}
	a.right-off-canvas-toggle { 
		@extend .secondary; @extend .animated; display:none;
	
		padding:7px 10px; position:absolute; z-index:2; top: 5px; right: 8px;
		&:hover{ background: #fefefe; color: #111; }
	}
	a.exit-off-canvas{
		@extend .alert; padding: 4px 7px; margin: 5px 20px 0 0; 
		box-shadow: -4px 0 4px rgba(111, 111, 170, 0.5), 4px 0 4px rgba(111, 111, 170, 0.5); /* blend with bg*/
		&:hover{background:red;}
	}

	/* canvas icon animation */
	
}

div.off-canvas-wrap div.inner-wrap.show a.right-off-canvas-toggle {display:block;}
div.off-canvas-wrap div.inner-wrap.show-add a.right-off-canvas-toggle {display:block; background: #bbb; @extend .fadeInRight;}
div.off-canvas-wrap div.inner-wrap.show-remove a.right-off-canvas-toggle {display:block; background: #bbb; @extend .fadeOutRight;}

div.off-canvas-wrap a.exit-off-canvas::after {content: "x"}
div.off-canvas-wrap a.right-off-canvas-toggle::after {content: "<"}
div.off-canvas-wrap.move-left a.right-off-canvas-toggle::after {content: ">"}




/* small screen - small to medium */
//@media only screen and (max-width:767px ) {
//@media only screen and ( max-width:#{upper-bound($medium-range)} ) {
@media #{$screen} and (max-width: #{upper-bound($medium-range)}) {
	.main>div.small-6:nth-child(2n+1) {	background: blue;}
	.main>div.small-6:nth-child(2n) { background: aqua;	}
	.top-row>div.small-12 {	background: yellow;	}
}

/* large screeen -  $medium-up */
//@media #{$screen} and (min-width:#{lower-bound($medium-range)}) {
@media #{$large-up} {
	.main>div.small-6 {	background: Aquamarine;	}
	.top-row>div.large-6:nth-child(2n+1) {background: green;}
	.top-row>div.large-6:nth-child(2n) { background: BlueViolet;	}
}


/* top-menu*/
div.head-menu	 {	border-bottom: 3px solid blue;}
div#page-content {	padding: 0 1rem; }

div#page-content>div.row:first-child>div.columns{ padding-top: 1em; }

nav.top-bar {
	@include transparent-ratio(85);
	box-shadow: 0 0 6px 3px #000;
	sup#ver {
		vertical-align: super; font-style:italic; font-size:0.7rem; color:red;
	}

	li.menu-item	{
		@extend .animated;
		>a>i	{
			@extend .animated;
			font-size:1.1rem; vertical-align:bottom; text-shadow:0 2px 3px rgba(255,255,255,0.25);
			padding: 0 10px; color: rgba(230,230,184, 0.8);
		}
		>ul					{	min-width: 5rem; }
		>ul.dropdown>li>a 	{	font-weight: bold;}
	}
	li#signin a 		{ color: #CC99ff; }
	li#signin>a:hover 	{ @include glow-text-shadow(#fff, #ff9900);}
}


.home 	{ @include menu-effect($home-color-h, $home-color, white);  }
.mail 	{ @include menu-effect($mail-color-h, $mail-color, white); }
.friend { @include menu-effect($friend-color-h, $friend-color, #ccc); }
.login 	{ @include menu-effect($login-color-h, $login-color, white); }


/* flash */
div#flash {
	@extend .row; margin: 0; padding: 0; height: 0; // reduce the gap between topmenu and content
	display:block;	z-index:9!important; position: fixed; top:60px; right:5%;
	>div {		box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.65); 	
		h5		{	text-transform:capitalize; }
	}
	>div.alert-box{
		@extend .columns;
		@extend .large-4; @extend .large-offset-8;
		@extend .small-5; @extend .small-offset-6;
		@include radius(5px);
		@extend .animated;
		>a.close { top: 0.6em; right: 0.3em; }
	}
}


div#flash>div.alert-box.ng-enter { @extend .fadeInDown; }

div#flash>div.alert-box:not(.ng-leave)		{ @extend .fadeInDown; }
div#flash>div.alert-box.ng-leave 			{ @extend .fadeOutUp; }
.alert-box.error	{ color: #b94a48; background: #f2dede;	border-color: #eed3d7; }
.alert-box.success	{ color: #468847; background: #dff0d8;	border-color: #d6e9c6; }
.alert-box.info 	{ color: #3a87ad; background: #d9edf7;	border-color: #bce8f1; }


a.x { 	
	position:absolute; z-index: 5;
	margin:0; padding:1px 3px; top:10px; right:30px; 
	color:#666;
	&:hover { background:#2ba6cb; color:#111; border:1px outset #aaa;}
 }

.full-width { @extend .row; >div{ @extend .small-12; @extend .columns;} }

div.suppl { bottom:5px; position:absolute; bottom:15px; left:5%; width:90%}

.menu-hover {	@include transparent-ratio(85); box-shadow: 0 0 6px 3px #999; 	background: #aaa; }
.dark-bg {background: #333; }

ul.menu-options{
	margin: 5px;
	
	>li { //@extend .red; 
		padding: 5px 0 10px;
		>div.menu{ //@extend .blue;
			padding: 2px 0; height: 260px;
			&:hover { @extend .menu-hover; }
		}
		>div.menu>div { //@extend .aqua;
			padding: 5px;
			display: block;
			&:hover { @extend .dark-bg;}
			>div>a { font-size: 1rem; display:block; }
		}
		>div>h5 {font-size: 1.3rem; color:#111; }
	}
	>li.paginate>div.menu{ //@extend .blue;
		&:hover { color: #eee; }
		>div>input {
			height: 1.5rem;
			display: inline;
			width:2rem;
			margin: 5px 0 10px;
			padding: 2px 0;
		}
		a { @extend .button; @extend .tiny; }
		>div>a { 
			@extend .secondary;
			margin-left: 10px;
		}
		>div>ul.button-group {
			margin-top: 30px;
			>li>a {	@extend .success; }	
		}
	}
}

div.last { padding-bottom: 50px;}

#loading { //@extend .red;
	@extend .columns; @extend .small-12;
	margin:0; padding: 1em; height: $footer-height;
	background: #555; text-align: center; 
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	@include transparent-ratio(85);
	a { color: $home-color-h; }
	&:hover{ 
		background:#272727; 
		@include glow-text-shadow( white, $home-color);
		a { color: $home-color;  }
	}
}
